<nav class="nav">
  <div class="nav_container">
    <span class="logo">
      <b class="a">A</b>
      <b class="g">G</b>
    </span>

    <i (click)="openSide()" id="hamburger" class="fa-solid fa-bars" style="color: #01a299; font-size: 1.3rem;"></i>



    <ul class="nav_links">
      <li class="nav_link">home
        <span></span>
      </li>
      <li class="nav_link">about
          <span></span>
      </li>
      <li class="nav_link">portfolio
        <span></span>
      </li>
      <li class="nav_link">contact

        <span></span>
      </li>
    </ul>
  </div>
</nav>
<!-- sidebar -->
<div [class.active]="sideOpen" class="nav_side active">
  <ul >
    <li class="nav_side-link">home
      <span></span>
    </li>
    <li class="nav_side-link">about
        <span></span>
    </li>
    <li class="nav_side-link">portfolio
      <span></span>
    </li>
    <li class="nav_side-link">contact
  
      <span></span>
    </li>
  </ul>


  <span class="bar"></span>
  </div>
  
  <!--  -->