<section class="contact">
  <h3> Contact<span> Me </span></h3>

  <div class="contact_content">

    <div class="btn">
      <span class="noselect"> <i class="fa-brands fa-linkedin-in"></i></span>
    </div>
    <div class="btn">
      <span class="noselect"><i class="fa-brands fa-github"></i></span>
    </div>
    <div class="btn">
      <span class="noselect"><i class="fa-regular fa-paper-plane"></i></span>
    </div>
    <div class="btn">
      <span class="noselect"><i class="fa-brands fa-facebook"></i></span>
    </div>
  </div>
</section>