<section class="contact">
  <h3> Contact<span> Me </span></h3>

  <div class="contact_content">
    <a href="https://linkedin.com/in/adrian-gmaj" target="_blank">
    <div class="btn">
      <span class="noselect"> <i class="fa-brands fa-linkedin-in">
          <p>/adrian-gmaj</p>
        </i></span>
    </div></a>
    <a href="https://github.com/AdrianGmaj" target="_blank">
      <div class="btn">
        <span class="noselect"><i class="fa-brands fa-github">
            <p>/AdrianGmaj</p>
          </i></span>
      </div>
    </a>
    <div class="btn">
      <span class="noselect"><i class="fa-regular fa-paper-plane">
          <p>/adrian.gmaj@gmail.com</p>
        </i></span>
    </div>
    <a href="https://facebook.com/adr.gmaj/" target="_blank">
    <div class="btn">
      <span class="noselect"><i class="fa-brands fa-facebook"> 
        <p>/adr.gmaj</p>
      </i></span>
    </div>
  </a>
  </div>
</section>