<section class="about-me">
  <h3>About <span> me</span> </h3>
  <div class="about-me_container">
    <div class="about-me_container-img">
      <img src="/assets/showcase/adrianbw.jpg" alt="">
    </div>
    <div class="about-me_container-text">
      <h4 class="header1">Few words about me</h4>
      <h4 class="header2"> I'm Adrian, aspiring Frontend Developer</h4>
      <p class="para">
        Since January 2023, I have been intensively developing my programming skills, focusing on frontend technologies
        such as HTML, CSS, SCSS, JavaScript, and React. My passion for creating websites, combined with basic knowledge
        in UX/UI, allows me to design sites that are not only aesthetically pleasing but also intuitive and
        user-friendly. I believe that good design is one that integrates both aesthetics and functionality, which is
        evident in my projects In my work, I also take care of technical aspects, such as SEO optimization, which can be
        observed in my GitHub profile, where each project is thoroughly described and analyzed.
      </p>
      <div class="contact">
        <p>Name: <span class="name">Adrian Gmaj</span></p>
        <p>Email: <span class="email">adrian.gmaj@gmail.com</span></p>
      </div>

      <div class="cv">
      <button class="button-cv"> <i class="fa-solid fa-download"></i> My CV</button>
      <span class="github">Github  <i class="fa-brands fa-github"></i></span>
      </div>
    </div>


  </div>
</section>