<section class="about-me">
  <h3>About <span> me</span> </h3>
  <div class="about-me_container">
    <div class="about-me_container-img">
      <img src="/assets/adrian2.jpg" alt="">
    </div>
    <div class="about-me_container-text">
      <h4 class="header1">Few words about me</h4>
      <h4 class="header2"> I'm Adrian, aspiring Frontend Developer</h4>
      <p class="para">
        Since August 2022, I started developing my programming skills, focusing on frontend technologies
        such as HTML, CSS, SCSS, JavaScript, and Angular.
        I also used libraries such as Bootstrap and Angular Material, drawing inspiration from them and learning good
        design practices from them.

        I hope to pursue my professional future by creating web applications. I encourage you to view my current
        projects in the section below. Ah, and privately I'm a fan of Nintendo, Dragrace and Italy
      </p>
      <div class="contact">
        <p>Name: <span class="name">Adrian Gmaj</span></p>
        <a href="mailto:adrian.gmaj@gmail.com">
          <p>Email: <span class="email">adrian.gmaj@gmail.com</span></p>
        </a>
      </div>

      <div class="cv">
        <button class="button-cv"> <i class="fa-solid fa-download"></i> My CV</button>
        <a href="https://github.com/AdrianGmaj" target="_blank"><span class="github">Github <i
              class="fa-brands fa-github"></i></span></a>
      </div>
    </div>


  </div>
</section>