.about-me {
    min-height: fit-content;
    height: fit-content;
    background-color: #111111;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8vh 0 8vh 0;
    a{
        text-decoration: none;
    }



    h3 {
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        font-size: calc(2rem + 2vw);
        color:
            white;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 2vh;
        letter-spacing: 7px;

        span {
            color: #181716;
            background-color: #181716;
            text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #f0eded, 1px 1px 0 #ffffff;
        }
    }

    h3::after {

        display: block;
        content: "";
        background-color: #01a299;
        height: 3px;

        transform-origin: 0 50%;
        bottom: 0;
        left: -2;
        position: absolute;
        width: 100%;

        animation: headerBorderBottom 2s ease-in-out;
        animation-iteration-count: infinite;


    }

    @keyframes headerBorderBottom {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    &_container {

        padding: 8vh 8vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2vh;
        max-width: 100rem;


        &-img img {
            width: 100%;
            height: 500px;
            max-width: 450px;
            object-fit: cover;
            object-position: center;



        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 2vh;
            width: 70%;
            max-width: 550px;
            height: 500px;

            .header1 {

                color: #01a299;
                font-size: 1.2rem;
                ;
            }

            .header2 {
                color: white;
                font-size: 1rem;
            }

            .para {
                color: grey;
                border-bottom: 1px solid #9f9f9f;
                line-height: 1.7;
                padding-bottom: 1rem;
                text-align: justify;
                text-justify: inter-word;

            }

            .contact {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                p {
                    color: white;
                }

                .name {
                    color: #9f9f9f;
                }

                .email {
                    color: #01a299;
                    cursor: pointer;
                }
            }

            .cv {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 2vh 0 2vh 0;
                align-items: flex-end;

                button {
                    border: none;
                    background: none;
                    background-color: #01a299;
                    width: 7rem;
                    height: 3rem;
                    color: white;
                    border-radius: 2px;
                    cursor: pointer;
                    align-self: flex-end;
                    transition: all ease-in-out 1s;
                }

                button:hover {
                    background-color: #01a29aa9;
                }

                .github {
                    color: white;
                    align-self: flex-end;
                    transition: 1s ease-in-out all;
                    cursor: pointer;
                }

                .github:hover {
                    transform: scale(110%);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .about-me_container-img {
     
        img {
            width: 100%;
            height: 300px;
            align-self: center;
            justify-self: center;
            border: 3px solid #01a299;
        }
      
    }
    .about-me_container-text{
        height: min-content;
        padding: 0;
    }
}