<section class="portfolio">
  <h3> <span>My</span> Projects</h3>

  <div class="portfolio-container">

    <div class="portfolio-container_card">
      <div class="shadow"> 
        <h4 style="color:white"><i class="up" class="fa-solid fa-angle-up"></i>
          Coffee House</h4>
        <div class="links">
          <i class="fa-solid fa-up-right-from-square"></i>
          <i class="fa-brands fa-github"></i>

        </div>
      </div>
      <img src="/assets/portfolio/caffee.jpg" alt="">
      <div class="tech">
        <i class="fa-brands fa-angular"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-sass"></i>
      </div>
    </div>

    <div class="portfolio-container_card">
      <div class="shadow"> 
        <h4 style="color:white"><i class="up" class="fa-solid fa-angle-up"></i> Quiz App</h4>
        <div class="links">
        <a href="http://quiz.server117034.nazwa.pl/"  target="_blank">  <i class="fa-solid fa-up-right-from-square"></i></a> 
     
          <i class="fa-brands fa-github"></i>

        </div>
      </div>
      <img src="/assets/portfolio/quiz.jpg" alt="">
      <div class="tech">
        <i class="fa-brands fa-angular"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-sass"></i>
      </div>
    </div>

    <div class="portfolio-container_card">
      <div class="shadow"> 
        <h4 style="color:white"><i class="up" class="fa-solid fa-angle-up"></i> Flowers Shop</h4>
        <div class="links">
          <a href="http://testowa.server117034.nazwa.pl/"  target="_blank">  <i class="fa-solid fa-up-right-from-square"></i></a> 
          <i class="fa-brands fa-github"></i>

        </div>
      </div>
      <img src="/assets/portfolio/flowers.jpg" alt="">
   
      <div class="tech">
        <i class="fa-brands fa-angular"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-sass"></i>
      </div>
    </div>

  </div>
</section>